* {
  margin: 0 auto;
}

hidden {
  display: none;
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  background-image: url(https://orig00.deviantart.net/1fad/f/2012/146/0/b/fire_ball_png_by_dbszabo1-d515um9.png);
  background-size: cover;
  /*background: rgb(255, 100, 100);*/
  animation-name: fireballs;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.lava {
  background-image: url(https://t7.rbxcdn.com/b55f3651ed8ad0041ca261519a86f7dd);
  background-size: cover;
  /* background: rgb(255, 100, 100);*/
}

.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  background-image: url(http://bgfons.com/upload/stone_texture145.jpg);
  background-size: cover;
}

.actor {
  position: absolute;
}

.coin {
  background-image: url(https://avatanplus.com/files/resources/mid/57531424a32de1551c86af3c.png);
  background-size: cover;
  animation: coins 1.5s linear infinite alternate;
}

.player {
  background-image: url(http://u.cubeupload.com/besrezen90/player.png);
  background-size: cover;
  animation: player 0.5s linear infinite alternate;
  /*background: rgb(64, 64, 64);*/
}

.lost .player {
  background-image: url(http://u.cubeupload.com/besrezen90/player.png);
  background-size: cover;
  /*background: rgb(160, 64, 64);*/
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

@keyframes coins {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.1);
  }
}

@keyframes fireballs {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes player {
  from {
    transform: matrix(1, 0, 0, 1, 0, 0);
  }
  to {
    transform: matrix(0.95, 0, 0, 1.05, 0, -1);
  }
}