* {
  margin: 0 auto;
}

hidden {
  display: none;
}

.background {
  background: rgb(52, 166, 251);
  table-layout: fixed;
  border-spacing: 0;
}

.background td {
  padding: 0;
}

.fireball {
  background: rgb(255, 100, 100);
}

.lava {
  background: rgb(255, 100, 100);
  background-image: url(https://png.pngtree.com/thumb_back/fw800/back_pic/04/51/93/25585f67286e31c.jpg);
  background-size: cover;
}

.elevator {
  background: rgb(229, 229, 229);
}

.wall {
  background-image: url(http://bgfons.com/upload/stone_texture145.jpg);
  background-size: cover;
}

.actor {
  position: absolute;
}

.coin {
  background-image: url(https://avatanplus.com/files/resources/mid/57531424a32de1551c86af3c.png);
  background-size: cover;
}

.player {
  background: rgb(64, 64, 64);
}

.lost .player {
  background: rgb(160, 64, 64);
}

.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}